html{
  width: auto;
  height: auto;
  background-color: blue;
  font-family: sans-serif;
  color: black;
}
body{
  width: auto;
  height: auto;
  background-color: inherit;
  padding-left: 2em;
  padding-top: 1em;
}
#tudo {
  width: 1250px;
  height: 550px;
  background-color: gray;
  padding: inherit;
  font-size: 120%;
  font-style: oblique;
 }
 .tudo2 {
   width: 1250px;
   height: auto;
   background-color: gray;
   padding: inherit;
   font-style: oblique;
  }

 a:link {
 color: red;
 }
 a:visited{
   color: : green;
 }
 #centralizado{
   text-align: center;
   background: Gainsboro;
 }
 header, nav {
   text-align: center;
   background: Gainsboro;
   margin: 20px 0;
   padding: 30px;
 }
 #tab_amigo{
   width: auto;
   height: auto;
   font-size: 90%%;
   font-style: normal;
 }
 #lista{
   background-color: inherit;
   width: auto;
   height: 100px;
   color: inherit;
 }
 #casa{
   background-color: white;
   width: 75px;
   height: 75px;
   color: inherit;
   align-items: center;
   align-self: center;
 }
 #oitavas{
   width: 200px;
   height: auto;
   background-color: gray;
   padding: inherit;
   font-size: 70%;
   font-style: oblique;
 }
 ul { list-style-type: circle; }
 ol { list-style-type: circle; }
 li { list-style-type: circle; }
.img{
  position:relative;
  width: auto;
  height: auto;
  background-color: inherit;
}
#x{
  &#9747;
  &#9737;
}
