<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Torneio</title>
      <link rel="stylesheet" href="css/basic.css">
  </head>
  <body>
    <div class="tudo2">
      <h1> Torneio</h1>
      <p> Informe o nome das equipes participantes</p>
      <form action="" method="POST">
      <% for (var i = 0; i< 16; i++){%>
        <input type="text" name="nomes" placeholder="Nome da equipe"><br>
      <%}%>
      <input type="submit" >
     </form>
    </div>
  </body>
</html>
