<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Torneio</title>
    <link rel="stylesheet" href="css/basic.css">
  </head>
  <body>
    <div id="tudo" height="auto">
      <h1> Torneio </h1>
      <form method="POST">
      <div id="oitavas">
        <% for(var i in jogos){
              jogo = jogos[i];%>
       <tr>
        <h1><td><%=jogo.e1%><td>   VS     </td><td><%=jogo.e2%></td></h1>
        <%}%>
      </tr>
      </div>
      <input type="submit">
    </form>
    </div>
  </body>
</html>
