<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vencedor do Torneio</title>
    <link rel="stylesheet" href="css/basic.css">
  </head>
  <body>
    <div id="tudo">
      <h1>Torneio</h1>
      <h2>O Vencedor do torneio foi: <%=vencedor%></h2>
    </div>
  </body>
</html>
